@font-face {
    font-family: 'RexBold';
    src: url('../fonts/RexBold.eot');
    src: local('☺'), url('../fonts/RexBold.woff') format('woff'), url('../fonts/RexBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight.woff') format('woff'),
    url('../fonts/OpenSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}