@font-face {
	font-family: 'RexBold';
	src: url('fonts/RexBold.eot');
	src: local('☺'), url('fonts/RexBold.woff') format('woff'), url('fonts/RexBold.ttf') format('truetype'), url('fonts/RexBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-CondLight-webfont.eot');
    src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLight-webfont.woff') format('woff'),
         url('OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}